:root {
    --color-primary: #1A3C40;
    --color-secondary: #2C5D63;
    --color-accent: #7EB6B6;
    --color-text: #E6F3F5;
    --color-text-dark: #B8D8D8;
    --color-background: #14292B;
    --color-card: #1F4649;
    --color-shadow: rgba(0, 0, 0, 0.2);
}  
.pro {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.pro .header {
    display: flex;
    align-items: center;
    background-color: var(--color-background); 
    border-radius: 10px;
    padding: 20px;
    border: 2px solid var(--color-text-dark); 
    margin-bottom: 70px;
    margin-left: 150px;
    margin-top: 20px;
    margin-right: 40px;
}
  
.pro .hospital-logo {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.5em;
    color: var(--color-text);
    padding: 20px;
}
  
.pro .hospital-logo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
  
.pro .hospital-logo-text {
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid var(--color-text-dark);
    color: var(--color-text-dark);
}
  
.pro .hospital-cover-photo {
    margin-left: 20px;
    padding: 20px;
    border-radius: 20px;
    flex-grow: 1;
    text-align: center;
    color: var(--color-text);
    font-size: 1.5em;
}

.pro .doctor-profile {
    display: flex;
    align-items: center;
    margin: 20px 0; 
}

.pro .profile-photo img {
    width: 80px;
    height: 80px;
    background-color: var(--color-background);
    border-radius: 50%;
    margin-right: 20px;
}

.pro .doctor-info {
    font-size: 18px;
}

.pro .appointments table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; 
}

.pro .appointments th, .appointments td {
    border: 1px solid var(--color-text-dark);
    padding: 10px;
    text-align: center;
}

.pro .appointments th {
    background-color: var(--color-background);
}

.pro .appointments td a {
    text-decoration: none;
    color: var(--color-text-dark);
}

.pro .appointments td a:hover {
    text-decoration: underline;
}

.pro footer {
    text-align: center;
    margin-top: 20px;
}

.pro .reserve-btn {
    padding: 10px 20px;
    background-color: var(--color-secondary);
    color: var(--color-text);
    border: var(--color-accent);
    cursor: pointer;
    border-radius: 5px;
}

.pro .footer1 {
    position: absolute;
    right: 0;   /* Align to the right */
    bottom: 20;  /* Align to the bottom */
    font-size: 1.5em;
    color: var(--color-text-dark);
    padding: 20px; /* Add padding for better spacing */
}

.pro .reserve-btn:hover {
    background-color: var(--color-accent);
    box-shadow: var(--color-shadow);
}
