.H-register {
    font-family: Arial, sans-serif;
    width: 60%;
    margin: 50px auto;
    background-color: #1A1A1A;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    color: #fff;
}

.H-register .logo {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 20px;
}

.H-register .form-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.H-register .signup-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.H-register .left-section, .right-section {
    width: 48%; 
}

.H-register .form-group {
    margin-bottom: 15px;
}

.H-register .form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.H-register .form-group input {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.H-register .checkbox-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.H-register .checkbox-group label {
    display: flex;
    align-items: center;
    white-space: nowrap; 
    margin-bottom: 10px;
    font-size: 14px;
}

.H-register .checkbox-group input[type="checkbox"] {
    margin-right: 10px;
}

.H-register .checkbox-group {
    display: flex;
    align-items: center; 
    gap: 10px;
}

.H-register .checkbox-label {
    white-space: nowrap;
}

.H-register .submit-btn {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    background-color: #C6A052; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px auto;
    display: block;
}

.H-register .submit-btn:hover {
    background-color: #D4AF37;
}
.H-register input{
    background-color: #1A1A1A;
 }
.H-register label{
    color: #D4AF37;
}
.H-register .selection{
    background-color: #1A1A1A;
    color: #C6A052;
}