.dashboard body {
    background-color: #1e1e1e;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.dashboard {
    max-width: 1300px;
    margin: 10px auto;
    padding: 30px;
}

.dashboard .header {
    display: flex;
    align-items: center;
    background-color: #202020; /* Dark background for header */
    border-radius: 10px;
    padding: 20px;
    border: 2px solid #d4b654; /* Gold border */
    margin-bottom: 70px;
    margin-left: 150px;
    margin-top: 20px;
    margin-right: 40px;
}
  
.dashboard .hospital-logo {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.5em;
    color: #ffffff;
    padding: 20px;
}
  
.dashboard .hospital-logo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
  
.dashboard .hospital-logo-text {
    position: absolute;
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid #d4b654;
    color: #ffffff;
}
  
.dashboard .hospital-cover-photo {
    margin-left: 20px;
    padding: 20px;
    border-radius: 20px;
    flex-grow: 1;
    text-align: center;
    color: #ffffff;
    font-size: 1.5em;
}

.dashboard h1 {
    font-size: 32px;
    margin: 30px 0;
    color: #ffd700;
    text-align: center;
}

.dashboard .menu-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-bottom: 30px;
    margin-top: 62px;
}

.dashboard .menu-item {
    display: flex;
    align-items: center;
    gap: 50px;
    background: none;
    border: 2px solid #c6a052;
    color: #ffffff;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 50%;
    max-width: 400px;
    border-radius: 16px;
}

.dashboard .menu-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.dashboard .symbol {
    border: 1px solid #ffffff;
    padding: 10px 15px;
    background-color: #2c2c2c;
    min-width: 60px;
    text-align: center;
}

.dashboard .text {
    font-size: 20px;
    flex-grow: 1;
    text-align: center;
}

.dashboard .footer {
    margin-top: 30px;
    text-align: right;
    font-weight: bold;
    font-size: 18px;
}