.P-login {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    background-color: #1A1A1A;
    color: #fff;
}

.P-login .logo {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.P-login h2 {
    text-align: center;
    margin-bottom: 20px;
}

.P-login form label {
    display: block;
    margin-bottom: 10px;
}

.P-login form label input {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border: 1.5px solid #ccc;
    border-radius: 11px;
}
.P-login label{
    color: #C6A052;
}
.P-login input,span{
    background-color: #1A1A1A;
    color: #C6A052;
}
.P-login .checkbox-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.P-login .checkbox-group label {
    display: flex;
    align-items: center;
}

.P-login .checkbox-group input {
    margin-right: 8px;
}

.P-login .submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #C6A052;
    color: #1A1A1A;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.P-login .submit-btn:hover {
    background-color: #D4AF37;
}

.P-login .checkbox-group {
    display: flex;
    align-items: center; 
    gap: 10px;
  }
  
.P-login .checkbox-label {
    white-space: nowrap;
  }
  